@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model MythMaker.Models.ViewModel
<div class="product-container">
    <div class="header-container">
        <h2 class="product-title">Product List</h2>
        <a asp-controller="Product" asp-action="Create" class="create-btn">Create New Product</a>
    </div>
    <table class="product-table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Display Order</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image Path</th>
                <th>Category Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Products.OrderBy(u => u.DisplayOrder))
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.DisplayOrder</td>
                    <td>@obj.Price</td>
                    <td>@obj.Description</td>
                    <td>@obj.ImagePath</td>
                    <td>@obj.CategoryId</td>
                    <td class="action-group">
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="action-btn edit-btn">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="action-btn delete-btn">
                            <i class="bi bi-trash3"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>