@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model MythMaker.Models.ViewModel
<div class="category-container">
    <div class="header-container">
        <h2 class="category-title">Category List</h2>
        <a asp-controller="Category" asp-action="Create" class="create-btn">Create New Category</a>
    </div>
    <table class="category-table">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Display Order</th>
                <th>Image Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Categories.OrderBy(u => u.DisplayOrder))
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.DisplayOrder</td>
                    <td>@obj.ImagePath</td>
                    <td class="action-group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="action-btn edit-btn">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="action-btn delete-btn">
                            <i class="bi bi-trash3"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>